*,
html {
    margin: 0px;
    padding: 0px;
}

:root {
    --azul: #0056b3;
}

header {
    width: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    align-items: center;
}

header h1, header h2 {
    color: #fff;
}

header h1 {
    font-size: 32px;
}

header h2 {
    font-size: 18px;
}

header .menu {
    display: flex;

}

header a {
    text-decoration: none;
    color: #fff;
}

header .menu a {
    text-decoration: none;
    margin-left: 25px;
}

header .menu a:hover {
    text-decoration: underline;
    color:#fff
}

main {
    padding: 80px 100px;
}

.mainIndex {
    width: auto;
    display: flex;
    justify-content: center;
}

.mainIndex p {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


/* Cadastro de Usuários*/ 


.mainUsuario  form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mainUsuario form h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.mainUsuario label {
    margin-top: 10px;
}

.mainUsuario input {
    width: 200px;
}

.mainUsuario  form #cadastrar {
    border: none;
    background-color: var(--azul);
    color: #fff;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    width: auto;
}

.mainUsuario  form #cadastrar:hover {
    background-color: #000;
    transition: all 0.3s ease;
}


.mainAlunos  form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mainAlunos form h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.mainAlunos label {
    margin-top: 10px;
    margin-bottom: 3px;
}

.mainAlunos input {
    width: 200px;
}

.mainAlunos  form #cadastrar {
    border: none;
    background-color: var(--azul);
    color: #fff;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    width: auto;
}

.mainAlunos  form #cadastrar:hover {
    background-color: #000;
    transition: all 0.3s ease;
}

.mainAlunos form select {
    width: 100px;
}



.mainGerenciar  {
    display: flex;
    flex-direction: row;
}

.mainGerenciar h2 {
    margin-bottom: 15px;
}

.turma1, .turma2, .turma3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.aluno {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 10px 10px;
    width: 80%;
}

.linha {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.linha label {
    margin-right: 10px;
    font-weight: bold;
}

.botoes {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botoes button {
    border: none;
    background-color: var(--azul);
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    width: auto;
    margin-right: 20px;
}

.botoes button:hover {
    background-color: #000;
    transition: all 0.3s ease;
}

.status {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.status button {
    border: none;
    background-color: var(--azul);
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    width: auto;
    margin-left: 15px;
}

.status button:hover {
    background-color: #000;
    transition: all 0.3s ease;
}